---
layout: single
classes: wide
author_profile: true
---

<div style="text-align:justify">

<p>Hello and welcome to my blog! My name is Joonsu Ryu (류준수 in Korean). I am a PhD student in Computer Science and Engineering at <a href = "https://www.sogang.ac.kr/">Sogang University</a> advised by Prof. <a href = "http://network.sogang.ac.kr/">Sungwook Kim</a> (김승욱 in Korean). My research interests are computer network, game theory, and machine learning.</p>

<p>As a PhD student in the Computer Science and Engineering, I am thrilled to have the opportunity to share my knowledge and insights with you. Technology is advancing rapidly, and the field of Computer Science and Engineering is at the forefront of this change. I believe that through this blog, I can help to bring clarity to the latest innovations and developments, and share my experiences as a student and researcher in this fascinating field.</p>

<p>In this blog, I will share my thoughts on the latest research, news, and trends in Computer Science and Engineering, as well as my personal experiences as a student and researcher. I will also wrtie personal stories, such as daily life and travelogues. I hope that you find this blog informative, engaging, and thought-provoking, and I look forward to your feedback and comments.</p> 

<p>Thank you for joining me on this journey!</p>

</div>

<!--

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>

{% include paginator.html %}

-->